.db-primary {
  background-color: $drugbank-blue;
  color: white;
  border-color: $drugbank-blue;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $drugbank-light-blue;
    border-color: $drugbank-light-blue;
  }
}

.db-secondary {
  background-color: white;
  border: 1px solid $drugbank-pink;
  color: $drugbank-pink;
  &:hover, &:focus, &:active {
    color: $drugbank-pink;
    background-color: lighten($drugbank-light-pink, 10%);
  }
}

.db-danger {
  background-color: $omx-red;
  color: white;
  border-color: $omx-red;
  &:hover, &:focus, &:active {
    color: white;
    background-color: $omx-light-red;
    border-color: $omx-light-red;
  }
}


.mini-btn,
a.mini-btn {
  @extend .btn;
  position: relative;
  display: inline-block;
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.15rem 1rem;
  border-radius: 11px;
  text-transform: uppercase;
}

.small-btn,
a.small-btn {
  @extend .btn;
  position: relative;
  display: inline-block;
  font-size: 1.2rem;
  line-height: 1.5;
  padding: 0.2rem 1.5rem;
  border-radius: 15px;
  text-transform: uppercase;
}

.reg-btn,
a.reg-btn {
  @extend .btn;
  position: relative;
  display: inline-block;
  font-size: 1.6rem;
  line-height: 1.5;
  padding: 0.1rem 2rem;
  border-radius: 15px;
  text-transform: uppercase;
}

.outline-btn,
a.outline-btn {
  color: $db-pink !important;
  border: 1px solid $db-pink;
  background-color: transparent;
  transition: all 0.25s ease;
  &:hover, &:active, &:focus {
    outline: none !important;
    background-color: $db-pink;
    border-color: $db-pink;
    color: white !important;
    .drugbank-icon {
      color: white;
      fill: white;
      stroke: white;
    }
  }
  .drugbank-icon {
    transition: all 0.25s ease;
    color: $db-pink;
    fill: $db-pink;
    stroke: $db-pink;
    vertical-align: middle;
    margin-left: 5px;
    svg {
      width: 1rem;
      height: 1rem;
    }
  }
}

.pink-btn,
a.pink-btn {
  color: white !important;
  background-color: $db-pink;
  transition: all 0.25s ease;
  border: 1px solid transparent;
  &:hover, &:active, &:focus {
    outline: none !important;
    background-color: darken($db-pink, 6%);
    border-color: darken($db-pink, 6%);
    color: white !important;
  }
}

.light-blue-btn,
a.light-blue-btn {
  color: white !important;
  background-color: $db-light-blue;
  transition: all 0.25s ease;
  border: 1px solid transparent;
  &:hover, &:active, &:focus {
    outline: none !important;
    background-color: darken($db-light-blue, 6%);
    border-color: darken($db-light-blue, 6%);
    color: white !important;
  }
}

.blue-btn,
a.blue-btn {
  color: white !important;
  background-color: $db-blue;
  transition: all 0.25s ease;
  border: 1px solid transparent;
  &:hover, &:active, &:focus {
    outline: none !important;
    background-color: darken($db-light-blue, 6%);
    border-color: darken($db-light-blue, 6%);
    color: white !important;
  }
}

.dark-blue-btn,
a.dark-blue-btn {
  color: white !important;
  background-color: $db-dark-blue;
  transition: all 0.25s ease;
  border: 1px solid transparent;
  &:hover, &:active, &:focus, &.activated {
    outline: none !important;
    background-color: #9196B0;
    border-color: #9196B0;
    color: white !important;
  }
}

.no-click-btn {
  pointer-events: none;
}