// App-wide colors
$omx-black: #353535;
$omx-dark-grey: #353535;
$omx-med-dark-grey: #515251;
$omx-med-light-grey: #8E8E8D;
$omx-extra-light-grey: #F3F3F4;
$omx-light-grey: #C9C8C8;
$omx-light-purple: #93317D;
$omx-purple: #7A0164;
$omx-light-turquoise: #009889;
$omx-turquoise: #007970;
$omx-light-green: #4FBA72;
$omx-green: #00A557;
$omx-light-yellow: #FFCE00;
$omx-yellow: #FEBE10;
$omx-light-orange: #F47E24;
$omx-orange: #F16524;
$omx-light-red: #F04E35;
$omx-red: #D63727;
$omx-light-brown: #D99E66;
$omx-brown: #C57527;
$omx-grey: #515251;
$omx-green: #12d678;
$omx-blue: #00bff3;
$omx-dark-blue: #27A9E1;

// Layout colours
$omx-main: #fff;
$omx-sidebar: #535860;
$omx-navbar: #424242;
$omx-nav-blue: #3187cf;

// Palette Colours:
$drugbank-very-light-pink: #ffe6f8;
$drugbank-light-pink: #ff80db;
$drugbank-pink: #ff00b8;
$drugbank-dark-pink: #c42a8f;
$drugbank-teal: #00b8c4;
$drugbank-green: #83c475;
$drugbank-very-light-blue: #ccf1ff;
$drugbank-light-blue: #66d6ff;
$drugbank-blue: #00b0f2;
$drugbank-very-dark-blue: #071c23;
$drugbank-dark-blue: #0083b3;
$drugbank-red: #ea6771;
$drugbank-orange: #e6944b;
$drugbank-purple: #741d5c;
$drugbank-violet: #9400D3;
$drugbank-super-light-grey: #f7f7f7;
$drugbank-very-light-grey: #abb2bf;
$drugbank-light-grey: #aab3c1;
$drugbank-grey: #56616e;
$drugbank-dark-grey: #282c34;
$drugbank-very-dark-grey: #192027;
$drugbank-black: #00161e;

$drugbank-table-grey: #f2f3f5;
$drugbank-table-hover-grey: #e2e4e9;
$drugbank-table-section-grey: #21252b;
$drugbank-card-header: #3e4148;

// App-wide colors
$db-very-dark-blue: #161F44;
$db-dark-blue: #263063;
$db-blue: #727DD4;
$db-light-blue: #B2B7EA;
$db-very-light-blue: #E1E2F6;
$db-super-light-blue: #F3F3FB;
$db-pink: #FF02AF;
$db-med-pink: #FFCCEF;
$db-light-pink: #FFE4F6;
$db-very-light-pink: #FFF8FD;
$db-grey: #707070;
$db-dark-grey: #505050;
$db-med-grey: #b3b3b3;
$db-light-grey: #F7F7F7;

$db-green: #12d678;
$db-purple: #DD5DEB;
$db-turquoise: #4CCFD6;
$db-yellow: #FFC048;

$help-pink: #C42A8F;
$help-green: #87C67A;
$help-orange: #E6944B;
$help-blue: #04BAC6;
$help-purple: #82346C;

// Bootstrap breakpoints
// Tablets
$screen-mobile-max:  479px;
$screen-xs-min:  480px;
$screen-xs-max:  767px;
$screen-sm-min:  768px;
$screen-sm-max:  991px;
$screen-md-min:  992px;
$screen-md-max:  1199px;
// Desktops
$screen-lg-min: 1200px;
