@import url(https://fonts.googleapis.com/css?family=Roboto);
.options-row {
  padding: 3rem 10%;
  width: auto;
  height: calc(100% - 218px - 8rem);
  overflow: auto;
}

.indications-options-header {
  text-align: left;
  font: 200 16px Gemeli;
  letter-spacing: 1.47px;
  color: #172042;
  opacity: 1;
  text-transform: uppercase;
}

.indications-option-text {
  text-align: left;
  font: 200 14px Gemeli;
  letter-spacing: 0px;
  color: #172042;
  opacity: 1;
}

.col-specificity, .col-otc-use, .col-off-label {
  margin-bottom: 2rem;
}

.kind-row {
  padding-bottom: 2rem;
}

.kind-label {
  height: 3rem;
}

/**
 * Checkbox and Radio Styling
 *
 * Adapted from https://gist.github.com/ldavidsp/7754f4f12fcbc33244bac1da30ae69b0
 */
.md-checkbox {
  position: relative;
  margin: 0.5em 0;
  text-align: left;
}

.md-checkbox.md-checkbox-inline {
  display: inline-block;
}

.md-checkbox label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.25em;
  vertical-align: top;
  padding-left: 1px;
}

.md-checkbox label:not(:empty) {
  padding-left: 0.75em;
}

.md-checkbox label:before, .md-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.md-checkbox label:before {
  width: 1.25em;
  height: 1.25em;
  background: #F3F3FB;
  border: 1px solid #ced4da;
  border-radius: 0.125em;
  cursor: pointer;
  -webkit-transition: background .2s;
  transition: background .2s;
}

.md-checkbox input[type="checkbox"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}

.md-checkbox input[type="checkbox"]:checked + label:before {
  background: #172042;
  border: none;
}

.md-checkbox input[type="checkbox"]:checked + label:after {
  -webkit-transform: translate(0.25em, 0.33654em) rotate(-45deg);
          transform: translate(0.25em, 0.33654em) rotate(-45deg);
  width: 0.75em;
  height: 0.375em;
  border: 0.125em solid #F3F3FB;
  border-top-style: none;
  border-right-style: none;
}

.md-checkbox input[type="checkbox"]:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}

.md-checkbox input[type="checkbox"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}

.md-checkbox input[type="radio"] {
  outline: 0;
  visibility: hidden;
  width: 1.25em;
  margin: 0;
  display: block;
  float: left;
  font-size: inherit;
}

.md-checkbox input[type="radio"] + label:before {
  border-radius: 100%;
}

.md-checkbox input[type="radio"]:checked + label:before {
  background: #F3F3FB;
}

.md-checkbox input[type="radio"]:checked + label:after {
  -webkit-transition: background .2s;
  transition: background .2s;
  background: #172042;
  -webkit-transform: translate(0.25em, 0.25em) rotate(-45deg);
          transform: translate(0.25em, 0.25em) rotate(-45deg);
  width: 0.75em;
  height: 0.75em;
  border-radius: 100%;
}

.md-checkbox input[type="radio"]:disabled + label:before {
  border-color: rgba(0, 0, 0, 0.26);
}

.md-checkbox input[type="radio"]:disabled:checked + label:before {
  background: rgba(0, 0, 0, 0.26);
}
/*# sourceMappingURL=indications.css.map */