body {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: rgb(40, 44, 52);
    background-image: none;
    background-origin: padding-box;
    background-position: 0% 0%;
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-size: auto;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    font-family: gemeli, helvetica neue, Helvetica, Arial, sans-serif;
    font-feature-settings: "kern";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-rendering: optimizelegibility;
    width: 100%;
    margin: 0 auto;
    padding-top: 56px;
}

#main-nav {
    align-items: center;
    background-color: rgb(255, 0, 184);
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: gemeli, helvetica neue, Helvetica, Arial, sans-serif;
    font-feature-settings: "kern";
    font-size: 16px;
    font-weight: 400;
    justify-content: flex-start;
    left: 0px;
    line-height: 24px;
    padding-bottom: 0px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    position: fixed;
    right: 0px;
    text-align: left;
    text-rendering: optimizelegibility;
    top: 0px;
    z-index: 1030;
}

#navbar {
    align-items: center;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    font-family: gemeli, helvetica neue, Helvetica, Arial, sans-serif;
    font-feature-settings: "kern";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    text-rendering: optimizelegibility;
    padding-right: 0;
}

.navbar-nav {
    box-sizing: border-box;
    float: right;
    color: rgb(33, 37, 41);
    display: flex;
    flex-direction: row;
    font-family: gemeli, helvetica neue, Helvetica, Arial, sans-serif;
    font-feature-settings: "kern";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin-bottom: 0px;
    margin-left: 956.267px;
    margin-top: 0px;
    padding-left: 0px;
    text-align: left;
    text-rendering: optimizelegibility;
}

.nav-item {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    font-family: gemeli, helvetica neue, Helvetica, Arial, sans-serif;
    font-feature-settings: "kern";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 8px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 8px;
    text-align: left;
    text-rendering: optimizelegibility;
}

.nav-link {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgb(196, 42, 143);
    border-left-style: solid;
    border-left-width: 0.8px;
    box-sizing: border-box;
    color: rgb(233, 234, 235);
    display: block;
    font-family: gemeli, helvetica neue, Helvetica, Arial, sans-serif;
    font-feature-settings: "kern";
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 8px;
    text-align: left;
    text-decoration: rgb(233, 234, 235);
    text-decoration-color: rgb(233, 234, 235);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-rendering: optimizelegibility;
}

.nav-link:visited {
    color: rgb(233, 234, 235);
}

.navbar-brand {
    background-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.9);
    display: block;
    font-family: gemeli, helvetica neue, Helvetica, Arial, sans-serif;
    font-feature-settings: "kern";
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-right: 0px;
    padding-bottom: 12.8px;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 12.8px;
    text-align: left;
    text-decoration: rgba(0, 0, 0, 0.9);
    text-decoration-color: rgba(0, 0, 0, 0.9);
    text-decoration-line: none;
    text-decoration-style: solid;
    text-decoration-thickness: auto;
    text-rendering: optimizelegibility;
    white-space: nowrap;
}

.nav-item:hover {
    background-color: #ff66d4;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}

.content-container {
    align-items: center;
    justify-content: center;
    display: flex;
    
}

body {
    width: 100%;
    margin: 0 auto;
}