/**
 * db-datatables.scss
 *
 * Modifications made to the datatables css for the sample app.
 */

// The row on the page containing the table 
.results-row {
    margin: 0 5% 8rem 5% !important;
    padding: 40px 0;
}

// When the page resizes and shrinks, gives overflow to just the table
// itself (not the search bar, entries select, and page buttons, which
// just stay centered).
.dataTables_wrapper .row:nth-child(2) {
    overflow: auto;
} 

// Width for the table search bar
.dataTables_filter label {
    min-width: 75%;
}

// Table search bar styling
.dataTables_filter label .input-group input {
    background-color: #F3F3FC;
    padding-left: 1rem;
    font: 200 1rem/18px Gemeli;
}

// Table seach bar search icon styling
.input-group-append .input-group-text svg{
    z-index: 1000000;
    fill: black;
    height: 1.5rem;
    opacity: 0.5;
}

// Table header styling
th {
    border-top: none !important;
    border-bottom: 0.5px solid #172042 !important;
    text-transform: uppercase;
    text-align: left;
    font: 200 16px/14px Gemeli;
    letter-spacing: 1.47px;
    color: #172042;
    opacity: 1;
}

// Removes the border for all table entries
td {
    border: none !important;
}

// Sets the font for all table elements
tbody, .dataTables_length, .dataTables_info, .dataTables_paginate {
    font-family: Gemeli;
    font-weight: 200;
    color: #172042;
}

// Sets font for all entries in the "Name" column to be bold
// except for the table header itself
td.product_concepts_name {
    font-weight: bold;
}

.page-item.active .page-link {
    background-color: #FF00B8 !important;
    border-color: #FF00B8 !important;
}
