/**
 * main.scss
 *
 * Font definitions and styling for elements that nearly 
 * every page has (navbar, rows and columns, search bar, etc).
 */

@font-face {
    font-family: Gemeli;
    src: url("../fonts/GemeliWeb-Regular.eot") format("embedded-opentype"),
         url("../fonts/GemeliWeb-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Gemeli;
    src: url("../fonts/GemeliWeb-Bold.eot") format("embedded-opentype"),
         url("../fonts/GemeliWeb-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Gemeli;
    src: url("../fonts/GemeliWeb-Light.eot") format("embedded-opentype"),
         url("../fonts/GemeliWeb-Light.woff") format("woff");
    font-weight: 200;
    font-style: normal;
}

// Fixes an issue where clicking a select2 adds 
// horizontal scrolling to whitespace
body {
    overflow-x:hidden; 
}

// The navbar itself
#main-nav {
    top: 0px;
    min-height: 62px;
    padding-left: 0;
    background: #FF00B8 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
}

// DrugBank logo in the nav bar (container and svg)
.db-logo {
    display: flex !important;
    align-items: center !important;
    margin-left: 40px;

    svg {
        height: 19px;
        padding: 0;
        fill: white;
        width: 168px; 
    }

}

// Vertically aligns link text
.navbar-nav {
    align-items: center;
}

// Links to other pages in the navbar
.nav-link {
    font: Bold 16px/20px Gemeli;
    letter-spacing: 0px;
    color: #FFFFFF !important;
    opacity: 1;
    text-transform: uppercase;
    padding-left: 0 !important;
    padding-right: 0 !important;
    text-align: center;
}

// Pads out each item in the nav by 50px so that 
// underlining on hover works smoothing (no jittering)
.nav-item {
    padding-left: 50px;
    padding-right: 50px;
}

// Styling for navbar section underline.
// The current page is underlined in the navbar,
// and on hover of a different section, the underline moves
#magic-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 4px;
    background: #FFFFFF;
    z-index: 10000;
}

// Hamburger menu opener button that appears
// when the width of the page is low enough
button navbar-toggler {
    border: none;
    border-color: transparent;
}

// Offset 62px from the top for the navbar
main {
    margin-top: 62px;
}

// Height for the display is set from the entire page - height of the navbar
.main-row {
    height: calc(100vh - 62px);
    overflow: auto;
}

// Left column on the page where info is input for a search
.col-search {
    padding-left: 0 !important;
    padding-right: 0 !important;
    z-index: 0;
}

/* Styling for the loading animation */

// loader is the container for the loading icon 
#loader {
    display: none;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.75);
    z-index: 999; 
}

// the loading icon itself
.pill {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 50%;
    height: 4rem;
    transform-origin:50% 50%;
    transform-box:fill-box;
    animation:ld-flip-v 1s infinite linear;
}

/**
 * Loading animation.
 *
 * Taken from Loading.io (https://github.com/loadingio/loading.css),
 * animation is called "ld-flip-v".
 */
@keyframes ld-flip-v {
    0% {
        animation-timing-function:cubic-bezier(0.1909,0.4373,0.4509,0.7454);
        transform:rotateX(0)
    }
    30% {
        animation-timing-function:cubic-bezier(0.128,0.2315,0.9704,0.8632);
        transform:rotateX(153.72deg)
    }
    50% {
        animation-timing-function:cubic-bezier(0.5788,0.3001,0.5613,0.6784);
        transform:rotateX(180deg)
    }
    55% {
        animation-timing-function:cubic-bezier(0.1545,0.4929,0.6089,0.9373);
        transform:rotateX(238.68deg)
    }
    100% {
        transform:rotateX(360deg)
    }
}

/* End of styling for the loading animation */

// Search bar section of .col-search
.section-search {
    box-sizing: border-box;
    align-items: center;
    background-attachment: scroll;
    background-clip: border-box;
    background: #172042 0% 0% no-repeat padding-box;
    border-bottom: 1px solid #707070;
    display: flex;
    height: auto;
    min-height: 218px;
    justify-content: center;
    line-height: 24px;
    padding: 0 10%;
    text-align: left;
    text-rendering: optimizelegibility;
    padding-top: 20px;
    padding-bottom: 20px;
}

// Gives the whole search bar form in .section-search full width
// (one end of the column to the other)
.section-search-form {
    width: 100%; 
}

// Title for the search bar in .section-search
.search-title {
    box-sizing: border-box;
    text-align: left;
    font: normal 20px/24px Gemeli;
    letter-spacing: 1.1px;
    color: rgb(255, 255, 255);
    opacity: 1;
    text-rendering: optimizelegibility;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.search-icon {
    fill: white;
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: default;
    z-index: 10000000;
}

// Removes search bar margin so it can be centered in its parent
// (.section-search-form)
.form-group.search-group {
    margin-bottom: 0px;
}

// Container for the icons under the search 
// bar showing the parameters of the search
.term-group {
    display: block;
    margin-top: 0px;
    margin-bottom: 0 !important;
    overflow-y: auto;
}

// .route-term, .form-term, .strength-term {
//     display: none;
// }

// The icons under the search bar showing the parameters of the search
.search-term {
    background: #F3F3FC 0% 0% no-repeat padding-box;
    border-radius: 10px;
    min-height: 32px;
    height: auto;
    margin-right: 10px;
    margin-top: 10px;
    display: none;
}

// The text of the icons under the search bar
.search-term p {
    font: normal 14px/24px Gemeli;
    letter-spacing: 0px;
    color: #172042;
    padding: auto;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 20px;
    margin: 0;
    text-align: center;
    vertical-align: middle;
}

// Row at the bottom of .col-search that contains the search button
.search-row {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 6px #00000029;
    opacity: 1;
    height: 8rem;
    bottom: 0;
    position: absolute;
}

// Centers the .search-button in the middle of the row
.col.text-center {
    vertical-align: middle;
    margin: auto;
}

// Styling for the button in .search-row
.search-button {
    border:none;
    color: white;
    padding: 10px 45px;
    padding-right:25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
    font: normal 28px/34px Gemeli;
    text-transform: uppercase; 
    letter-spacing: 1.54px;
    background: #FF00B8 0% 0% no-repeat padding-box;
    border-radius: 26px;
    opacity: 1;
}
  
.search-button:hover {
    background-color: #B20080;
    color: white;
    border-color: #B20080;
}

.search-button-disabled {
    opacity: 0.5;    
}

.search-button-disabled:hover {
    cursor: default;
    background-color: #FF00B8;
    border-color: #FF00B8;

    svg {
        cursor: default; 
    }
}

// Styling for the search icon in the search button
.search-icon-submit {
    fill: white;
    width: 34px;
    height: 30px;
    vertical-align: bottom;
    padding-left: 8px;
    cursor: pointer;

    use {
        height: 2rem;
        width: 2rem;
        vertical-align: middle;
    }
} 

// The search button after the search has been submitted
.search-button-reset {
    color: #FF00B8;
    background-color: white;
    border: 3px solid #FF00B8;
    padding: 10px 35px;

    svg {
        display: none;
    }
}

// The right column of the page where information, the HTTP request, 
// shell command, and API response are displayed.
.col-demo {
    background: #F3F3FB 0% 0% no-repeat padding-box;
    box-shadow: 0px 5px 10px #00000029;
    opacity: 1;
    padding-top: 62px;
    overflow: auto;
}

// Title for the current section, displayed at the top of .col-demo
.demo-title {
    text-align: left;
    font: normal 31px/50px Gemeli;
    letter-spacing: 0px;
    color: #263063;
    opacity: 1;
    padding-left: 50px;
    padding-right: 65px;
    margin-bottom: 18px;
}

// Description for the current section, displayed in .col-demo
.demo-desc {
    text-align: left;
    font: 200 18px/24px Gemeli;
    letter-spacing: 0px;
    color: #263063;
    opacity: 1;
    padding-left: 50px;
    padding-right: 65px;
}

// Container for the HTTP request, 
// shell command, and API response.
.tab-content {
    padding-left: 50px;
    padding-right: 65px;
}

/**
 * Styling for the HTTP request, shell command, 
 * and API response text displays.
 *
 * PrismJS 1.16.0
 * This theme has been customized for drugbankplus.com
 */
 code[class*="language-"],
 pre[class*="language-"] {
   color: #fff;
   background: none;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   font-size: 1em;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none; 
   padding-bottom: 1em;
   padding-right: 1em; 
}
 
/* Code blocks */
pre[class*="language-"] {
    padding: 1em;
    margin: 5px 0;
    overflow: auto;
    //border-radius: 0.3em; 
    margin-bottom: 15px;
    border-radius: 7px;
    opacity: 1;
}
 
:not(pre) > code[class*="language-"],
pre[class*="language-"] {
    background: #161F44; 
}
 
/* Inline code */
:not(pre) > code[class*="language-"] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal; 
} 

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #fff; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
  color: #727DD4; }

.token.boolean,
.token.number {
  color: #B2B7EA; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #FF02AF; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable {
  color: white; }

.token.atrule,
.token.attr-value,
.token.function,
.token.class-name {
  color: #b3b3b3; }

.token.keyword {
  color: #B2B7EA; }

.token.regex,
.token.important {
  color: #b3b3b3; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

// Header styling for the HTTP and Shell text displays
.example-header {
    text-align: left;
    font: normal 14px/24px Gemeli;
    letter-spacing: 0px;
    color: #263063;
    opacity: 1;
}

// Header styling for the API response text display
.example-header.example-header-response {
    padding-top: 40px;
}

// Height for the API reponse text display
pre.api-box {
    height: 320px;
}

/* End of styling for HTTP request, shell command, and API response text displays */
