/**
 * welcome.scss
 *
 * Styling for the welcome page
 */
.col-info {
  padding: 4rem 6% 2rem 6%;
  background: #172042;
}

h1 {
  text-align: left;
  font: 200 40px Gemeli;
  letter-spacing: 0px;
  color: white;
}

.info-intro {
  text-align: left;
  font: 200 22px/32px Gemeli;
  letter-spacing: 0px;
  color: white;
}

.welcome-section-link {
  text-decoration: none !important;
}

.feature-info-row {
  margin-bottom: 1.5rem;
  background-color: rgba(243, 243, 251, 0.3);
  border-radius: 5px;
  -webkit-transition: background-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: background-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: background-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: background-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.feature-info-row:hover {
  background-color: rgba(217, 217, 242, 0.3);
  -webkit-transition: background-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: background-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  transition: background-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: background-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
}

.feature-info-row .info-section-name {
  padding: 1rem 2rem;
  border-right: 1px solid white;
}

.feature-info-row .info-section-name h3 {
  text-align: left;
  font: normal 22px/32px Gemeli;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
  margin-bottom: 0;
}

.feature-info-row .info-section-desc {
  padding: 1.5rem 2rem;
}

.feature-info-row .info-section-desc p {
  text-align: left;
  font: 200 16px/28px Gemeli;
  letter-spacing: 0px;
  color: white;
  opacity: 1;
  margin-bottom: 0;
}

.col-settings {
  padding: 4rem 4rem;
  text-align: left;
  font: 200 18px Gemeli;
  letter-spacing: 0px;
  color: #263063;
  background: #F3F3FB 0% 0% no-repeat padding-box;
  -webkit-box-shadow: 0px 5px 10px #00000029;
          box-shadow: 0px 5px 10px #00000029;
  padding-top: 62px;
  overflow: auto;
}

.col-settings .row > form {
  width: 100%;
}

.settings-section-title {
  text-align: left;
  font: Bold 22px/32px Gemeli;
  color: #263063;
  text-transform: uppercase;
  margin-bottom: 2rem;
}

#select2-region_select-container, .select2-dropdown {
  font: 200 16px/24px Gemeli !important;
}

.link-arrow {
  width: 0.75rem;
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: baseline;
}

#auth_key_submit {
  padding: 0 20px;
  background: #263063;
  border-radius: 9px;
  opacity: 1;
  margin-left: 0.5rem;
  color: white;
  font: normal 16px Gemeli;
  border: none;
}

#auth_key_submit:hover {
  background: #1c244a;
}

#auth_key_alert {
  border-radius: 7px;
}

#auth_key_alert p {
  margin: 0;
  font-size: 16px;
}

ul {
  list-style-type: none;
}

ul a {
  text-align: left;
  font: Bold 18px/32px Gemeli;
  letter-spacing: 0px;
  color: #263063;
}

ul a:hover {
  color: #1c244a;
}

.tooltip-container {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  vertical-align: sub;
  margin-left: 0.25rem;
}
/*# sourceMappingURL=welcome.css.map */