<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DrugBank Sample App</title>

  <link rel="icon" type="image/png" href="images/favicons/favicon-96x96.png" sizes="96x96">
  <link rel="icon" type="image/png" href="images/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="images/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="icon" type="image/png" href="images/favicons/favicon.png" sizes="16x16">
  <link rel="shortcut icon" type="image/x-icon" href="images/favicons/favicon.ico">
  
  <link rel="stylesheet" href="stylesheets/main.css">
  <link rel="stylesheet" href="stylesheets/db-datatables.css">
  <link rel="stylesheet" href="stylesheets/select2-theme-modified-material.css">
  <link rel="stylesheet" href="stylesheets/select2-theme-modified-bootstrap.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" media="all" href="stylesheets/datatables.min.css">
  <link rel="stylesheet" media="all" href="stylesheets/dataTables.bootstrap4.min.css">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="stylesheets/selectize.dbsearch.css">

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js" 
    integrity="sha384-1CmrxMRARb6aLqgBO7yyAxTOQE2AKb9GfXnEo760AUcUmFx3ibVJJAzGytlQcNXd" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
  <script src="javascripts/prism.js"></script>
  <script src="javascripts/datatables.min.js"></script>
  <script src="javascripts/dataTables.bootstrap4.min.js"></script>
  <script src="javascripts/shared.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.js"></script>  
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-xl navbar-light" id="main-nav">
      <a class="navbar-brand db-logo" href="/">
        <svg class="brand-image">
          <use xlink:href="images/svg-defs.svg#db-logo" />
        </svg>
      </a>

      <!-- Toggler/collapse Button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="navbar">
        <ul class="ml-auto"></ul>
        <ul class="navbar-nav">
          <li id="drug_lookup_nav" class="nav-item">
            <a class="nav-link" href="#">Drug Lookup</a>
          </li>
          <li id="alternative_drugs_nav" class="nav-item">
            <a class="nav-link" href="#">Alternative Drug Lookup</a>
          </li>
          <li id="ddi_nav" class="nav-item">
            <a class="nav-link" href="#">Drug-Drug Interactions</a>
          </li>
          <li id="product_concepts_nav" class="nav-item">
            <a class="nav-link" href="/product_concepts">Product Concepts</a>
          </li>
          <li id="indications_nav" class="nav-item">
            <a class="nav-link" href="#">Indications</a>
          </li>
        </ul>
      </div>

    </nav>
  </header>

{% block content %}{% endblock %}

</body>
</html>  