!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "DrugBank Product Concepts Example", :name => "description"}/
    %title DrugBank Product Concepts Example
    %meta{:content => "DrugBank", :name => "application-name"}/
    %script{:crossorigin => "anonymous", :integrity => "sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=", :src => "https://code.jquery.com/jquery-3.4.1.min.js"}
    %link{:crossorigin => "anonymous", :href => "https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css", :integrity => "sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu", :rel => "stylesheet"}/
    %script{:crossorigin => "anonymous", :integrity => "sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd", :src => "https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"}
    %link{:href => "https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css", :rel => "stylesheet"}/
    %script{:src => "https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-theme/0.1.0-beta.10/select2-bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "stylesheets/datatables.min.css", :media => "all", :rel => "stylesheet"}/
    %link{:href => "stylesheets/public.css", :media => "all", :rel => "stylesheet"}/
    %link{:href => "stylesheets/nav.css", :media => "all", :rel => "stylesheet"}/
    %script{:src => "javascripts/datatables.min.js"}
    %script{:src => "javascripts/prism.js"}
    %script{:src => "javascripts/shared.js"}
    
  %body
    %header
      %nav#main-nav.navbar.fixed-top.navbar-expand-custom.navbar-light{:style => "background-color: #ff00b8;"}
        %a.navbar-brand{:href => "/"}
          %img{:alt => "Logo white", :height => "20", :src => "images/db-logo-white.svg"}/
        #navbar.collapse.navbar-collapse
          %ul.navbar-nav.ml-auto
            %li.nav-item
              %a.nav-link{:href => "/drug_lookup"} Drug Lookup
            %li.nav-item
              %a.nav-link{:href => "/alternative_drugs"} Alternative Drugs
            %li.nav-item
              %a.nav-link{:href => "/ddi"} Drug-Drug Interactions
            %li.nav-item
              %a.nav-link{:href => "/product_concepts"} Product Concepts
            %li.nav-item
              %a.nav-link{:href => "/indications"} Indications
            %li.nav-item
              %a.nav-link{:href => "/support"} Support