{% extends "base.jinja" %}

{% block content %}

{% set kind_options = [{
    "treatment_of": "Treatment of",
    "prevention_of": "Prevention of",
    "prophylaxis_of": "Prophylaxis of",
    "symptomatic_treatment_of": "Symptomatic treatment of",
    "management_of": "Management of",
    "for_therapy": "For therapy",
    "adjunct_therapy_in_prevention_of": "Adjunct therapy in prevention of",
    "adjunct_therapy_in_treatment_of": "Adjunct therapy in treatment of",
    "adjunct_therapy_in_management_of": "Adjunct therapy in management of" 
  },
  {
    "adjunct_therapy_in_prophylaxis_of": "Adjunct therapy in prophylaxis of",
    "adjunct_for_therapy": "Adjunct for therapy",
    "used_in_combination_to_treat": "Used in combination to treat",
    "used_in_combination_for_therapy": "Used in combination for therapy",
    "used_in_combination_to_induce": "Used in combination to induce",
    "used_in_combination_to_manage": "Used in combination to manage",
    "used_in_combination_to_prevent": "Used in combination to prevent",
    "used_in_combination_for_prophylaxis_of": "Used in combination for prophylaxis of",
    "used_in_combination_for_symptomatic_treatment_of": "Used in combination for symptomatic treatment of"
  },
  {
    "used_in_combination_as_diagnostic_agent": "Used in combination as diagnostic agent",
    "used_in_combination_for_diagnostic_process": "Used in combination for diagnostic process",
    "used_in_combination_to_reverse": "Used in combination to reverse",
    "induction_of": "Induction of",
    "reversal_of": "Reversal of",
    "diagnostic_agent": "Diagnostic agent",
    "used_as_adjunct_in_combination_to_manage": "Used as adjunct in combination to manage",
    "used_as_adjunct_in_combination_to_prevent": "Used as adjunct in combination to prevent",
    "used_as_adjunct_in_combination_to_treat": "Used as adjunct in combination to treat"
  }]
 %}

  <main role="main" api_route="{{api_route}}" api_key="{{api_key}}">
    <div class="container-fluid">
      <div class="row main-row">
        <div class="col-xl-7 col-search">

          <div id="loader">
            <div class="ld ld-flip-v pill">
              <svg>
                <use xlink:href="images/svg-defs.svg#loading-icon"/>
              </svg>
            </div>
          </div>
        
          <div class="section-search">
            <form class="section-search-form">
              <div class="search-title">Indications Search</div>
              <div class="form-group search-group">
                <div class="selectize-control single">
                  <div class="selectize-input">
                    <input id="indication-name" placeholder="Heart disease" autocomplete="off" style="width: calc(100% - 55px);">
                  </div>
                  <svg class="search-icon">
                    <use xlink:href="images/svg-defs.svg#search-icon"></use>         
                  </svg>
                </div>
              </div>
              <div class="form-group term-group">
                <div class="search-term"><p class="specificity-term"></p></div>
                <div class="search-term"><p class="otc-use-term"></p></div>
                <div class="search-term"><p class="off-label-term"></p></div>
              </div>
            </form>
          </div>

          <div class="container options-row">

            <div class="row">

              <div class="col-sm col-specificity">
                <h3 class="indications-options-header">Specificity</h3>
                <div class="form-check md-checkbox">
                  <input class="form-check-input" type="radio" name="specificity" id="name_matches" value="" checked>
                  <label class="form-check-label indications-option-text" for="name_matches">Name Matches Only</label>
                </div>
                <div class="form-check md-checkbox">
                  <input class="form-check-input" type="radio" name="specificity" id="specific_matches" value="specific">
                  <label class="form-check-label indications-option-text" for="specific_matches">Include More Specific</label>
                </div>
                <div class="form-check md-checkbox">
                  <input class="form-check-input" type="radio" name="specificity" id="general_matches" value="general">
                  <label class="form-check-label indications-option-text" for="general_matches">Include More General</label>
                </div>

              </div>
              <div class="col-sm col-otc-use">
                <h3 class="indications-options-header">OTC Use</h3>

                 <div class="form-check md-checkbox">
                  <input class="form-check-input" type="radio" name="otc_use" id="include_otc" value="" checked>
                  <label class="form-check-label indications-option-text" for="include_otc">Include OTC</label>
                </div>
                <div class="form-check md-checkbox">
                  <input class="form-check-input" type="radio" name="otc_use" id="exclude_otc" value="false">
                  <label class="form-check-label indications-option-text" for="exclude_otc">Exclude OTC</label>
                </div>
                <div class="form-check md-checkbox">
                  <input class="form-check-input" type="radio" name="otc_use" id="otc_only" value="true">
                  <label class="form-check-label indications-option-text" for="otc_only">Only OTC</label>
                </div>

              </div>
              <div class="col-sm col-off-label">
                <h3 class="indications-options-header">Off Label</h3>

                <div class="form-check md-checkbox">
                  <input class="form-check-input" type="radio" name="off_label" id="include_off_label" value="" checked>
                  <label class="form-check-label indications-option-text" for="include_off_label">Include Off Label</label>
                </div>
                <div class="form-check md-checkbox">
                  <input class="form-check-input" type="radio" name="off_label" id="exclude_off_label" value="false">
                  <label class="form-check-label indications-option-text" for="exclude_off_label">Exclude Off Label</label>
                </div>
                <div class="form-check md-checkbox">
                  <input class="form-check-input" type="radio" name="off_label" id="only_off_label" value="true">
                  <label class="form-check-label indications-option-text" for="only_off_label">Only Off Label</label>
                </div>
              </div>

            </div>

            <h3 class="indications-options-header">Filter by Therapy Type</h3>

            <div class="row kind-row">
              
              {% for section in kind_options %}
                <div class="col-md">
                {% for q, text in section %}
                  {% set checkbox = q + "_checkbox" %}
                  <div class="kind-option md-checkbox">
                    <input type="checkbox" id={{checkbox}} value={{q}}>
                    <label class="indications-option-text kind-label" for={{checkbox}}>{{text}}</label>
                  </div>
                {% endfor %}
                </div>
              {% endfor %}

            </div>

          </div>

          <div class="row results-row">
            <div class="col-sm-12">
              <table class="table indications-table">
                <thead>
                  <tr role="row">
                    <th>Drug</th>
                    <th>Kind</th>
                    <th>Indication</th>
                    <th>Type</th>
                    <th>Label</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>

          <div class="row search-row container-fluid no-gutters">
            <div class="col text-center">
              <button class="search-button search-button-disabled">
                <span>
                  <span class="search-button-text">Search</span>
                  <svg class="search-icon-submit">
                    <use xlink:href="images/svg-defs.svg#search-icon" />
                  </svg>
                </span> 
              </button> 
            </div>
          </div>

        </div>
        
        <div class="col-xl-5 col-demo">
          <h2 class="demo-title">Indication Search</h2>
          <p class=demo-desc>
            Our sample application will show you how an end 
            user can easily explore drugs and treatment options 
            based on indication. A drug indication describes the 
            approved conditions, diseases, or states for which a 
            drug can safely and effectively be used.
            <br><br>
            To help get you started, this side panel 
            will show you the API queries made in real-time, 
            and the API responses returned. 
            <br><br>
          </p>  
          <div class="tab-content">
            <div class="example-header">HTTP Request</div>
            <pre class=" language-http"><code class=" http-request language-http"></code></pre>
            <div class="example-header">Shell Command</div>
            <pre class="shell-box language-http"><code class=" shell-command language-http"></code></pre>
            <div class="example-header example-header-response">API Response</div>
            <pre class="api-box language-json"><code class=" api-response language-json"></code></pre>     
          </div>
        </div>

      </div>
    </div>  
  </main>

  <link rel="stylesheet" href="stylesheets/indications.css">
  <script src="javascripts/indications.js"></script>

{% endblock %}