{% extends "base.html" %} {% block content %}

<body class="c-guides-tutorials a-product_concepts">
    <header></header>
    <main class="container-fluid" role="main">
        <div class="help-container main-container">
            <div class="content-container">
                <div class="help-content stretch-content tutorial-content" id="product-concepts-tutorial">
                    <div class="content-items">
                        <h3 id="select-a-specific-product-code">Product Concept Search</h3>
                        <p>Select a drug, route and strength below to find matching product concepts.</p>
                        <div class="example-box container-fluid" id="step-4">
                            <div class="row">
                                <div class="example-col col-sm-4">
                                    <div id="loader"><img src="images/pill.gif" alt="Pill"></div>
                                    <div class="form-group">
                                        <label for="Drug">Drug</label>
                                        <select name="drug_search_4" id="drug_search_4" class="drug_autocomplete" data-url="https://dev.drugbankplus.com/guides/tutorials/api_request" data-step="4"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Route">Route</label>
                                        <select name="route_search_4" id="route_search_4" class="route_autocomplete" data-url="https://dev.drugbankplus.com/guides/tutorials/api_request" data-step="4"></select>
                                    </div>
                                    <div class="form-group">
                                        <label for="Strength">Strength</label>
                                        <select name="strength_search_4" id="strength_search_4" class="strength_autocomplete" data-url="https://dev.drugbankplus.com/guides/tutorials/api_request" data-step="4"></select>
                                    </div>
                                </div>
                                <div class="code-col col-sm-8">
                                    <ul class="nav nav-pills" role="tablist">
                                        <li class="active" role="presentation"><a data-toggle="tab" href="#http-4" role="tab">Request</a>
                                        </li>
                                        <li role="presentation"><a data-toggle="tab" href="#api-4" role="tab">Response</a></li>
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="http-4" role="tabpanel">
                                            <div class="example-header">HTTP Request</div>
                                            <pre class=" language-http"><code class=" http-request language-http"></code></pre>
                                            <div class="example-header">Shell Command</div>
                                            <pre class="shell-box language-http"><code class=" shell-command language-http"></code></pre>
                                        </div>
                                        <div class="tab-pane" id="api-4" role="tabpanel">
                                            <div class="example-header">API Response</div>
                                            <pre class="api-box language-json"><code class=" api-response language-json"></code></pre>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-striped products-table">
                                        <thead>
                                            <tr role="row">
                                                <th>Name</th>
                                                <th>Dosage</th>
                                                <th>Strength</th>
                                                <th>Route</th>
                                                <th>Labeller</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
    <script src="javascripts/product_concepts.js"></script>
</body>

</html>
{% endblock %}