{% extends "base.jinja" %}

{% block content %}

  <main role="main" api_route="{{api_route}}" api_key="{{api_key}}">
    <div class="container-fluid">
      <div class="row main-row">
        <div class="col-xl-7 col-search">

          <div id="loader">
            <div class="ld ld-flip-v pill">
              <svg>
                <use xlink:href="images/svg-defs.svg#loading-icon"/>
              </svg>
            </div>
          </div>
        
          <div class="section-search">
            <form class="section-search-form">
              <div class="search-title">Product Concepts Search</div>
              <div class="form-group search-group">
                <select class="drug_autocomplete"></select>
              </div>
              <div class="form-group term-group">
                <div class="search-term"><p class="route-term"></p></div>
                <div class="search-term"><p class="form-term"></p></div>
                <div class="search-term"><p class="strength-term"></p></div>
              </div>
            </form>
          </div>

          <div class="row select-row">

            <div class="col-5">
              <p class="search-help">
                Specify any of the following attributes to search available drug products.
              </p>
            </div>

            <div class="col-7">
              <div class="select-container">

                <div class="form-group">
                  <label for="route-select" class="select-header">Route</label>
                  <select id="route-select" class="route_autocomplete form-control"></select>
                </div>

                <div class="form-group">
                  <label for="form-select" class="select-header">Form</label>
                  <select id="form-select" class="form_autocomplete form-control"></select>
                </div>

                <div class="form-group">
                  <label for="strength-select" class="select-header">Strength</label>
                  <select id="strength-select" class="strength_autocomplete form-control"></select>
                </div>
                
              </div>
            </div>

          </div>

          <div class="row results-row">
            <div class="col-sm-12">
              <table class="table products-table">
                <thead>
                  <tr role="row">
                    <th>Name</th>
                    <th>Form</th>
                    <th>Strength</th>
                    <th>Route</th>
                    <th>Labeller</th>
                  </tr>
                </thead>
                <tbody></tbody>
              </table>
            </div>
          </div>

          <div class="row search-row container-fluid no-gutters">
            <div class="col text-center">
              <button class="search-button search-button-disabled">
                <span>
                  <span class="search-button-text">Search</span>
                  <svg class="search-icon-submit">
                    <use xlink:href="images/svg-defs.svg#search-icon" />
                  </svg>
                </span> 
              </button> 
            </div>
          </div>

        </div>
        
        <div class="col-xl-5 col-demo">
          <h2 class="demo-title">Product Concept Search</h2>
          <p class=demo-desc>Our sample application will show you how an 
            end user can search for a drug product by specifying known 
            product attributes.
            <br><br>
            To help get you started, this side panel 
            will show you the API queries made in real-time, 
            and the API responses returned. 
            <br><br>
          </p>  
          <div class="tab-content">
            <div class="example-header">HTTP Request</div>
            <pre class=" language-http"><code class=" http-request language-http"></code></pre>
            <div class="example-header">Shell Command</div>
            <pre class="shell-box language-http"><code class=" shell-command language-http"></code></pre>
            <div class="example-header example-header-response">API Response</div>
            <pre class="api-box language-json"><code class=" api-response language-json"></code></pre>     
          </div>
        </div>

      </div>
    </div>  
  </main>

  <link rel="stylesheet" href="stylesheets/product_concepts.css">
  <script src="javascripts/product_concepts.js"></script>

{% endblock %}