= haml :base

%body
  %main.container-fluid{:role => "main"}
    .help-container.main-container
      .content-container
        .content-items
          %h1 Support
          %h3 External Links
          %p
            For assistance with using the API, please refer to the DrugBank
            = succeed "." do
              %a{:href => "https://dev.drugbankplus.com/guides/api"} help center
          %p Relevant Topics:
          %ul
            %li
              %a{:href => "https://docs.drugbankplus.com/v1/#drug-names-autocomplete"} Drug Names / Autocomplete
            %li
              %a{:href => "https://docs.drugbankplus.com/v1/#product-concepts"} Product Concepts
            %li
              %a{:href => "https://docs.drugbankplus.com/v1/#drug-drug-interactions"} Drug-Drug Interactions
            %li
              %a{:href => "https://docs.drugbankplus.com/v1/#indications"} Indications
          %p
            Online versions of some examples can be found
            = succeed "." do
              %a{:href => "https://dev.drugbankplus.com/guides/tutorials/index"} here
          %p
            Still unsure about something? Contact our
            %a{:href => "https://www.drugbankplus.com/contact/support?ref=dev.drugbankplus.com%2Fguides%2Findex"} support team
            for additional help with our data and products.
          %div
            %h3 Settings
            .row
              %form.form-horizontal{"form-group" => "", :id => "region_form>\n              <div class="}
                %label.control-label.col-sm-2{:for => "region_select"} Region
                .col-sm-3
                  %select#region_select.form-control
                    %option{:value => ""} All
                    %option{:value => "us"} United States
                    %option{:value => "ca"} Canada
                    %option{:value => "eu"} Europe
          %br/
          %form#auth_key_form.form-horizontal{"accept-charset" => "UTF-8", :action => "#", :method => "post"}
            .form-group
              %label.control-label.col-sm-2{:for => "auth_key_input"} API Key
              .col-sm-7
                .input-group
                  %input#auth_key_input.form-control{:type => "text"}/
                  %span.input-group-btn
                    %button#auth_key_submit.btn.btn-primary{:type => "submit"} Update
          #auth_key_alert.alert.alert-warning.alert-dismissible{:role => "alert", :style => "display: none;"}
            %p#auth_update_message
            %button.close{"aria-label" => "Close", "data-hide" => "alert", :type => "button"}
              %span{"aria-hidden" => "true"} ×
  %script{:src => "javascripts/support.js"}
