{% extends "base.jinja" %} {% block content %}

<body>
  <main class="container-fluid" role="main">
  <div class="help-container main-container">
    <div class="content-container">
      <div class="content-items">
        <h1>Support</h1>
        <h3>External Links</h3>
        <p>For assistance with using the API, please refer to the DrugBank
          <a href="https://dev.drugbankplus.com/guides/api">help center</a>.
        </p>
        <p>Relevant Topics:</p>
          <ul>
            <li>
              <a href="https://docs.drugbankplus.com/v1/#drug-names-autocomplete">Drug Names / Autocomplete</a>
            </li>
            <li>
              <a href="https://docs.drugbankplus.com/v1/#product-concepts">Product Concepts</a>
            </li>
            <li>
              <a href="https://docs.drugbankplus.com/v1/#drug-drug-interactions">Drug-Drug Interactions</a>
            </li>
            <li>
              <a href="https://docs.drugbankplus.com/v1/#indications">Indications</a>
            </li>
          </ul>
        <p>Online versions of some examples can be found 
          <a href="https://dev.drugbankplus.com/guides/tutorials/index">here</a>.
        </p> 
        <p>Still unsure about something? Contact our 
          <a href="https://www.drugbankplus.com/contact/support?ref=dev.drugbankplus.com%2Fguides%2Findex">support team</a> 
          for additional help with our data and products.
        </p> 
        
        <div>

          <h3>Settings</h3>

          <div class="row">
            <form class="form-horizontal" id="region_form>
              <div class="form-group">
                <label class="control-label col-sm-2" for="region_select">Region</label>
                <div class="col-sm-3">
                  <select class="form-control" id="region_select">
                    <option value="">All</option>
                    <option value="us">United States</option>
                    <option value="ca">Canada</option>
                    <option value="eu">Europe</option>
                  </select>
                </div>
              </div>
            </form>
          </div>

          <br>

          <form class="form-horizontal" id="auth_key_form" action="#" accept-charset="UTF-8" method="post">
            <div class="form-group">
              <label class="control-label col-sm-2" for="auth_key_input">API Key</label>
              <div class="col-sm-7">
                <div class="input-group">
                  <input type="text" class="form-control" id="auth_key_input">
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" id="auth_key_submit">Update</button>
                  </span>
                </div>
              </div>
            </div>
          </form>

          <div id="auth_key_alert" class="alert alert-warning alert-dismissible" style="display: none;" role="alert">
            <p id="auth_update_message"></p>
            <button type="button" class="close" data-hide="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        
        </div>
      </div>
    </div>
  </div>
  </main>
  <script src="javascripts/support.js"></script>
</body>

{% endblock %}