.help-container {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
  background: white;

  a {
    transition: opacity 0.25s ease;
    &:hover {
      opacity: 0.75;
    }
    &.image-link {
      transition: box-shadow 0.25s ease;
      display: block;
      &:hover {
        opacity: 1;
        box-shadow: 0px 0px 0px 2px $db-pink;
      }
    }
  }
  .content-container {
    width: 70%;
    flex: 1;
    padding: 40px;
    align-self: stretch;
    transition: all 0.5s ease;

    h1 {
      font-size: 31px;
      line-height: 38px;
      margin-bottom: 20px;
      color: $db-dark-blue;
      font-weight: 100;
    }
    h2 {
      font-size: 24px;
      line-height: 34px;
      color: $db-dark-blue;
    }
    h3 {
      font-size: 19px;
      line-height: 25px;
      color: $db-blue;
      text-transform: uppercase;
    }
    h4 {
      font-size: 20px;
      line-height: 26px;
      color: $db-dark-blue;
    }
    p, li {
      font-size: 15px;
      line-height: 26px;
      font-weight: 100;
    }
    hr {
      border-top: 1px solid $db-very-light-blue;
    }
    img.compact {
      max-width: 40%;
    }
  }
  .help-content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: flex-start;

    .content-items {
      width: 70%;
      position: relative;
      @media (min-width: $screen-sm-min) {
        &.wrap-items {

          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          & > a {
            width: calc(50% - 10px);
            margin-bottom: 20px;
          }
        }
      }
      .related-links {
        float: right;
        width: auto;
        margin: 20px 0px 20px -50px;
        right: -70px;
      }
      .search-bar {
        position: absolute;
        top: -73px;
        right: 40px;
        width: 270px;
        max-width: calc(100% - 115px);
        input.search-query, &:focus {
          height: 48px !important;
          border-radius: 24px;
          -moz-border-radius: 24px;
          -webkit-border-radius: 24px;
          padding: 0.3rem 58px 0.3rem 24px;
          font-size: 2.2rem;
          line-height: 4;
          border: none;
        }
        .drugbank-icon {
          top: 6px;
          right: 10px;
          svg {
            height: 34px;
            width: 34px;
          }
        }
      }
      .empty {
        color: $db-dark-blue;
        font-weight: normal;
      }
      dl {
        dt {
          a {
            font-weight: normal;
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
      .citation-box {
        background-color: $db-super-light-blue;
        margin: 20px 0;
        padding: 15px;
        color: $db-dark-blue;
        font-weight: 100;
        font-size: 16px;
        line-height: 24px;
        a {
          font-weight: normal;
          color: $db-blue;
        }
        .citation-links {
          display: flex;
          justify-content: space-between;
          margin-top: 5px;
        }
        .copy-link {
          text-transform: uppercase;
          color: $db-blue;
          cursor: pointer;
          display: inline-block;
          .drugbank-icon {
            margin-right: 0.5rem;
            vertical-align: middle;
            svg { fill: $drugbank-pink; }
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .search-help-bar {
        margin-bottom: 20px;
        .btn-search {
          border-color: #727DD4;
          background-color: #727DD4;
          font-weight: 100;
          font-size: 16px;
          padding: 8px 15px;
          line-height: 1;
          color: white;
          &:hover, &:focus, &:active {
            border-color: #B2B7EA;
            background-color: #B2B7EA;
          }
          .drugbank-icon {
            vertical-align: middle;
            margin: -5px 5px -5px 0px;
          }
        }
      }
    }

    .help-item {
      display: block;
      background: white;
      margin-bottom: 40px;
      padding: 20px 30px;
      border-radius: 10px;
      box-shadow: 0px 0px 10px 0px rgba(37, 46, 127, 0.26);
      text-decoration: none;
      position: relative;
      top: 0px;
      transition: all 0.25s ease;
      h3 {
        padding-bottom: 5px;
        border-bottom: 2px solid $db-blue;
        margin-top: 0px;
        margin-bottom: 10px;
        transition: all 0.25s ease;
      }
      p {
        font-size: 18px;
        line-height: 24px;
        color: $db-dark-blue;
      }
      &:hover, &:active {
        opacity: 1;
        top: -5px;

        h3 {
          color: $db-pink;
          border-bottom: 2px solid $db-pink;
        }
      }
    }
    &.stretch-content {
      .content-items {
        width: 100%;
        .search-bar {
          right: 60px;
        }
      }
    }
    &.centered-content {
      max-width: 1000px;
      width: 100%;
      margin: 0px auto;
    }
  }

  .table-responsive {
    border: none !important;
  }

  table {
    display: block;
    overflow-x: scroll;
    font-size: 14px;
    thead {
      tr {
        background-color: #F9F9FD;
        td, th {
          border-bottom: none;
          color: $db-dark-blue;
        }
      }
    }
    tbody {
      tr {
        td, th {
          border-top: none;
          color: $db-dark-blue;
        }
        td {
          font-weight: normal;
        }
      }
      & > tr:nth-of-type(odd) {
        background-color: $db-super-light-blue;
      }
      & > tr:nth-of-type(even) {
        background-color: #F9F9FD;
      }
    }
  }

  .section {
    margin-top: 20px;
    h2, h3 {
      &::before {
        display: block;
        content: " ";
        margin-top: 60px;
        height: 60px;
        visibility: hidden;
        pointer-events: none;
      }
    }
  }

  &.shrink {
    .help-sidebar {
      padding-top: 0px;
    }
    .content-container {
      padding-top: 20px;
    }
  }
}

.search-highlight {
  border: 1px solid #F7E633;
  padding: 2px;
  margin: -3px; // Keep spacing the same despite padding and border
  border-radius: 4px;
  background: linear-gradient(to top left, #F7E633 0%, #F1D32F 100%);
}
