html {
  height: 100%;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  font-size: 16px;
  margin-top: 0;
  padding: 0px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
  font-weight: normal;
  color: $omx-med-dark-grey;
  background: white;
  position: relative;
  min-height: 100%;

  li, p, a, h1, h2, h3, h4, h5 {
    color: $db-dark-blue;
  }

  h1, h2, h3, h4, h5, th, dt {
    font-weight: normal;
  }

  body, li, p, a, td, dd {
    font-weight: 100;
  }

  a, a:visited {
    color: $db-blue;
  }

  .no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
  }

  .alert {
    margin-top: 20px;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    justify-content: space-between;
    .drugbank-icon {
      cursor: pointer;
    }
    .drugbank-icon svg {
      width: 2rem;
      height: 2rem;
      display: inline-block;
    }

    &.alert-danger {
      border-color: $db-pink;
      color: $db-pink;
      background-color: $db-light-pink;
    }

    &.alert-success {
      border-color: $db-blue;
      color: $db-blue;
      background-color: $db-very-light-blue;
    }

    a {
      color: inherit;
      font-weight: bold;
    }
  }

  .drugbank-icon {
    display: inline-block;
    svg {
      display: block;
      background-color: transparent;
      fill: currentColor;
      width: 2rem;
      height: 2rem;
      vertical-align: middle;
    }
    &.icon-circle {
      border-radius: 50%;
    }
  }

  .page_info {
    color: $drugbank-grey;
  }

  .pagination-holder {
    text-align: center;
    .pagination {
      margin: 0px;
      .page a, .page.current, .page.gap, .first a, .prev a, .last a, .next a {
        line-height: 1;
        font-size: 1.6rem;
        padding: 0.5em 0.25em;
        display: inline-block;
        border-radius: 50%;
        width: 2em;
        height: 2em;
        text-align: center;
        font-weight: bold;
        color: $drugbank-grey;
        &.current {
          color: white;
          background-color: $drugbank-pink;
        }
        &.disabled, &.gap {
          color: $drugbank-light-grey;
        }
        &:not(.disabled):not(.current):not(.gap) {
          cursor: pointer;
          &:hover {
            background-color: $drugbank-very-light-grey;
            color: $drugbank-grey;
          }
        }
      }
    }
  }

  code {
    background-color: $drugbank-very-light-pink;
    color: $db-pink;
    padding: 0.2em;
    border-radius: 0px;
  }

  .nil {
    font-style: italic;
    color: $drugbank-very-light-grey;
  }

  .copy-tooltip {
    .tooltip-inner {
      background-color: $drugbank-pink;
    }
    .tooltip-arrow {
      border-top-color: $drugbank-pink !important;
    }
  }
}
